# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
backend/.venv/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/

# local env files
.env
.env.*
.env*.local

# generated native folders
/ios
/android

# typescript
*.tsbuildinfo
